body{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

header{
    grid-area: 1/1/1/7;
    display: flex;
    align-content: space-between;
}

ul{
    display: flex;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    align-content: space-around;
    li{
        margin: auto;
        a{
            border: solid 2px blue;
            text-decoration: none;
            transition: border 0.5s ease-in;
            &:hover{
                border: solid 2px red;
            }
        }
    }
}

main{
    width: 100%;
    display: flex;
    grid-area: 3/1/4/7;
    align-content: space-between;
    flex-wrap: nowrap;
    h1{
        display: flex;
        margin: auto;
        flex-shrink: 0;
        flex-wrap: nowrap;
        &.sujet1{
            color: crimson;
            animation-name: animation1;
            animation-duration: 2s;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
        &.sujet2{
            @extend .sujet1;
            border: burlywood solid 3px;
            color: white;
            animation-name: animation2;
        }
    }
    div.slide-wrap{
        margin: auto;
        
        div.slider{
            width: 500px;
            height: 300px;
            display: flex;
            overflow-x: auto;
            
            -webkit-overflow-scrolling: touch;
            scroll-snap-type: x mandatory;  
            div.slide{
                width: 500px;
                flex-shrink: 0;
                height: 100%;
                scroll-snap-align: start;
                scroll-behavior: smooth;
                flex-wrap: nowrap;
                background-color: aquamarine;
                p{
                    margin: auto;
                }
            }
        }
    }
}



